# Segredos e Credenciais
.env
build/
dist/
*.egg-info/
dist_obfuscated/

# Ambientes Virtuais e Cache do Python
.venv/
__pycache__/
*.pyc

# Logs Locais e Arquivos Temporários
logs/
raiox_jira.json
Sightline_Command.spec
Sightline.spec
